.wrap-all-link-search-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  background: #e7effb;
  padding: 60px 32.5px 90px 32.5px;
}
@media (max-width: 390px) {
  .wrap-all-link-search-bar {
    padding: 24px 32px 40px 32px;
  }
}

.wrap-link-search-bar {
  position: relative;
}
@media (max-width: 865px) {
  .wrap-link-search-bar {
    width: 100%;
  }
}

.link-search-bar {
  outline: none;
  border-radius: 15px;
  border: 1px solid #6d6afe;
  background: #fff;
  display: flex;
  align-items: center;
  width: 800px;
  height: 69px;
  color: #9fa6b2;
  padding: 22.5px 100px 22.5px 52px;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
@media (max-width: 865px) {
  .link-search-bar {
    width: 100%;
  }
}

.link-img {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 20px;
  top: 24.5px;
}

.link-add-button {
  position: absolute;
  right: 20px;
  top: 16px;
  width: 80px;
  height: 37px;
  padding: 10px 16px;
  border-radius: 8px;
  background: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
  cursor: pointer;
}

.link-add-button-text {
  color: #f5f5f5;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 49px;
  height: 17px;
}
